body {
  background-color: #292929;
  color: white;
  font-family: sans-serif;
}
button {
  border-radius: 8px;
}
#ramMenuOp {
  background-color: darkgray;
}
#cardMenuOp {
  background-color: rgb(12, 136, 39);
  display: none;
}
#cardMenu {
  display: none;
}
#optionsMenu {
  display: none;
}
#statMenu {
  display: none;
}
#auto0 {
  display: none;
}
#auto1 {
  display: none;
}
#cardAutoBuy {
  display: none;
}
#melter {
  display: none;
}